@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Inicio</title>
</head>
<body>
    <div style="text-align:center">
        <h1>Sistema de Seguimiento de Pedidos</h1>
        <h2><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Acceder al Sistema</a></h2>
        <img src="~/images/tracking.png" width="auto">
    </div>
</body>
</html>
