@model TrackingPedidos.ViewModels.EntregaVM

@{
    ViewData["Title"] = "Entrega";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-file-invoice-dollar"></i> <strong>Entrega de pedido</strong>
            </div>
            <form asp-action="Delivery" method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" checked asp-for="Estado" />
                            <label class="custom-control-label" asp-for="Estado"></label>
                        </div>
                    </div>
                    <div class="form-row row-situacion">
                        <div class="form-group col-md-12">
                            <label asp-for="Descripcion" class="control-label"></label>
                            <input asp-for="Descripcion" data-val="true" data-val-required="Descripción es obligatorio." class="form-control" maxlength="30" />
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="section-person">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" checked asp-for="PersonaPresente" />
                                <label class="custom-control-label" asp-for="PersonaPresente"></label>
                            </div>
                        </div>
                        <div class="form-group group-lugar">
                            <label asp-for="Direccion" class="control-label"></label>
                            <input asp-for="Direccion" data-val="true" data-val-required="Dirección es obligatorio." class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                        <div id="data-person">
                            <div class="form-group">
                                <label asp-for="Identificacion" class="control-label"></label>
                                <input asp-for="Identificacion" maxlength="10" class="form-control" />
                                <span asp-validation-for="Identificacion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Apellidos" class="control-label"></label>
                                <input asp-for="Apellidos" class="form-control" maxlength="30" />
                                <span asp-validation-for="Apellidos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Nombres" class="control-label"></label>
                                <input asp-for="Nombres" class="form-control" maxlength="30" />
                                <span asp-validation-for="Nombres" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Celular" class="control-label"></label>
                                <input asp-for="Celular" class="form-control" maxlength="10" />
                                <span asp-validation-for="Celular" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Parentesco" class="control-label"></label>
                                <input asp-for="Parentesco" class="form-control" maxlength="20" />
                                <span asp-validation-for="Parentesco" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-md btn-secondary" asp-action="Index">Regresar</a>
                    <button type="submit" class="btn btn-md btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $(".row-situacion").hide();
            $(".group-lugar").hide();
        });
        $('#Estado').change(function () {
            if ($(this).prop('checked')) {
                $(".row-situacion").hide();
                $("#Descripcion").val("");
                $("#section-person").show();
            } else {
                $(".row-situacion").show();
                $("#section-person").hide();
            }
        });
        $('#PersonaPresente').change(function () {
            if ($(this).prop('checked')) {
                $(".group-lugar").hide();
                $("#data-person").show();
            } else {
                $(".group-lugar").show();
                $("#data-person").hide();
            }
        });
    </script>
}