@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmación de email";
    Layout = null;
}

<div style="text-align:center">
    <h2>@ViewData["Title"]</h2>
    <div>
        <p>
            Gracias por confirmar su email.
        </p>
    </div>

</div>
