<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Tracking Pedidos</title>

    <environment include="Development">
        <!-- Bootstrap core CSS-->
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="~/lib/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="~/css/sb-admin.css" rel="stylesheet">
    </environment>

    <environment exclude="Development">
        <!-- Bootstrap core CSS-->
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
        <!-- Custom fonts for this template-->
        <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
        <!-- Custom styles for this template-->
        <link href="~/css/sb-admin.min.css" rel="stylesheet" asp-append-version="true">
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="index.html">Tracking</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar Search -->
        <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </div>
        <!-- Navbar -->
        <partial name="_LoginPartial" />
    </nav>

    <div id="wrapper">

        <partial name="_sidebar" />

        <div id="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Tracking Pedidos 2019</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <environment include="Development">
        <!-- Bootstrap core JavaScript-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/lib/jquery-easing/jquery.easing.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/js/sb-admin.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/js/sb-admin.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>