  <!-- Sidebar -->
@{
    var controller = ViewContext.RouteData.Values["Controller"];
    var activeDashboard = "";
    var activePedidos = "";
    var activeSeguimiento = "";
    if (controller != null)
    {
        var action = ViewContext.RouteData.Values["Action"];
        activeDashboard = controller.ToString().ToLower().Equals("dashboard") ? "active" : "";
        activePedidos = controller.ToString().ToLower().Equals("pedidos") ? "active" : "";
        activeSeguimiento = controller.ToString().ToLower().Equals("seguimientos") ? "active" : "";
    }

    var isAdmi = User.IsInRole("Admi");
}

<ul class="sidebar navbar-nav">
    <li class="nav-item @activeDashboard">
        <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    @if (!isAdmi)
    {
        <li class="nav-item @activePedidos">
            <a class="nav-link" asp-controller="Pedidos" asp-action="Index">
                <i class="fas fa-fw fa-truck-moving"></i>
                <span>Pedidos</span>
            </a>
        </li>
    }
    @if (isAdmi)
    {

        <li class="nav-item @activeSeguimiento">
            <a class="nav-link" asp-controller="Seguimientos" asp-action="Index">
                <i class="fas fa-fw fa-globe"></i>
                <span>Seguimientos</span>
            </a>
        </li>
    }
</ul>